# Logs
logs/
log/
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids/
*.pid
*.seed
*.pid.lock

# Tool coverage
coverage/
*.lcov
.nyc_output/

# Instrumented libraries
lib-cov/

# Dependency directories
node_modules/
jspm_packages/
bower_components/
web_modules/

# Package manager metadata
.lock-wscript
.npm/
.pnpm-debug.log*
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.yarn-integrity

# Environment variables
.env
.env.*
!.env.example

# Caches & runtime traces
.eslintcache
.stylelintcache
.node_repl_history
.vscode-test
.tern-port

# Build artifacts & framework output
build/
build/Release/
.cache/
.parcel-cache/
.next/
out/
.nuxt/
dist/
.temp/
.vuepress/dist/
.svelte-kit/
**/.svelte-kit/
.vite/
**/.vitepress/dist/
**/.vitepress/cache/
.vitepress/dist/
.vitepress/cache/
.docusaurus/
.serverless/
.fusebox/
.dynamodb/
.firebase/

# Deployment adapters
.vercel/
.netlify/

# Miscellaneous
.adjutant/
data/
log
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

vendor/
